<div class="profileComponent">
  <img class="avatar" [src]="profile.avatar" />
  <h1 class="nameTag">{{profile.displayName}}</h1>
  <div *ngIf="profile.platform.id == 1">
    <img class="platformIcon" src="assets/steam_small.png" />
  </div>
</div>

<div class="statsComponent">
  <h2>Stats</h2>
  <hr>
  <p>Wins: {{profile.stats.wins}}</p>
  <p>Goals: {{profile.stats.goals}}</p>
  <p>Mvps: {{profile.stats.mvps}}</p>
  <p>Saves: {{profile.stats.saves}}</p>
  <p>Shots: {{profile.stats.shots}}</p>
  <p>Assists: {{profile.stats.assists}}</p>
</div>

<div class="ranksComponent">
  <h2>Ranks</h2>
  <hr>
  <p>Solo Duel: {{profile.rankedSeasons[7][10].tier}}</p>
  <p>Doubles: {{profile.rankedSeasons[7][11].tier}}</p>
  <p>Solo Standard: {{profile.rankedSeasons[7][12].tier}}</p>
  <p>Standard: {{profile.rankedSeasons[7][13].tier}}</p>
  </div>